SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web

DB_NAME=book_shop
DB_USER=book_shop_user
DB_PASSWORD=book_shop_password
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0
