# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Virtual environment
venv/
.venv/
env/
django_venv/

# Environment variables
.env

# Coverage
.coverage
coverage.xml
htmlcov/

# pytest
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
